.App {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  
}

.search-form{
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border:none;
  padding:10px;

}

.search-btn{
  background-color: teal;
  
  border: none;
  padding: 10px 20px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
